* {
    margin: 0;
}

/* header */
header{
    background: url(/donate-today/images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:800px;
}
.header-title,.header-description{
    text-align: center;
    color: white;
    
}
.header-title{
    font-size: 60px ;
    font-weight: 900;
    padding-bottom: 20px;
}
.header-description{
    font-size: 30px;
    padding-bottom: 30px;
}
.header-btn{
    margin-left: 45%;
    height: 70px;
    width: 200px;
    border-radius: 5px;
    background-color:indianred;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    border: 0;

}
/* Donate section */
section{
    margin-top: 100px;
}
.donate-center{
    text-align: center;
}